<form class="new-song" action="/songs" method=POST>
   <input type="text" name="song[title]" placeholder="Title">
   <input type="text" name="song[length]" placeholder="Length">
   <input type="text" name="song[playcount]" value="Play Count">
   <input type="submit" value="Submit">
 </form>
